In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
player = pd.read_csv('game_skater_stats.csv')
plays = pd.read_csv('game_plays.csv')
player_info = pd.read_csv('player_info.csv')
skater_stats= pd.read_csv('game_skater_stats.csv')
team_stats = pd.read_csv('game_teams_stats.csv')
team_info = pd.read_csv('team_info.csv')
teams = team_info.merge(team_stats, on='team_id')
players = player_info.merge(skater_stats, on='player_id')
game= pd.read_csv('game.csv')

# Plays

In [3]:
plays.shape

(3632349, 20)

In [4]:
nullplays= plays.isna().sum()
nullplays/len(plays)

play_id                0.000000
game_id                0.000000
play_num               0.000000
team_id_for            0.193093
team_id_against        0.193093
event                  0.000000
secondaryType          0.784459
x                      0.195173
y                      0.195168
period                 0.000000
periodType             0.000000
periodTime             0.000000
periodTimeRemaining    0.000000
dateTime               0.000000
goals_away             0.000000
goals_home             0.000000
description            0.000000
st_x                   0.195173
st_y                   0.195168
rink_side              0.216773
dtype: float64

In [5]:
plays.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
0,2011030221_1,2011030221,1,NaN,NaN,Game Scheduled,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 18:16:06,0,0,Game Scheduled,NaN,NaN,NaN
1,2011030221_2,2011030221,2,NaN,NaN,Period Ready,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 19:19:49,0,0,Period Ready,NaN,NaN,NaN
2,2011030221_3,2011030221,3,NaN,NaN,Period Start,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Period Start,NaN,NaN,NaN
3,2011030221_4,2011030221,4,4.0,1.0,Faceoff,NaN,0.0,0.0,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Sean Couturier faceoff won against Patrik Elias,0.0,0.0,right
4,2011030221_5,2011030221,5,4.0,1.0,Giveaway,NaN,28.0,24.0,1,REGULAR,21,1179,2012-04-29 19:21:02,0,0,Giveaway by Kimmo Timonen,-28.0,-24.0,right

In [6]:
plays.columns

Index(['play_id', 'game_id', 'play_num', 'team_id_for', 'team_id_against',
       'event', 'secondaryType', 'x', 'y', 'period', 'periodType',
       'periodTime', 'periodTimeRemaining', 'dateTime', 'goals_away',
       'goals_home', 'description', 'st_x', 'st_y', 'rink_side'],
      dtype='object')

In [7]:
plays.event.unique()

array(['Game Scheduled', 'Period Ready', 'Period Start', 'Faceoff',
       'Giveaway', 'Blocked Shot', 'Shot', 'Hit', 'Stoppage', 'Goal',
       'Penalty', 'Takeaway', 'Missed Shot', 'Period End',
       'Period Official', 'Game End', 'Game Official',
       'Official Challenge', 'Shootout Complete',
       'Early Intermission Start', 'Early Intermission End',
       'Emergency Goaltender'], dtype=object)

In [8]:
plays['event']

0           Game Scheduled
1             Period Ready
2             Period Start
3                  Faceoff
4                 Giveaway
                ...
3632344            Faceoff
3632345               Shot
3632346         Period End
3632347    Period Official
3632348           Game End
Name: event, Length: 3632349, dtype: object

## Shots

In [9]:
#Plays that are shots
shots=plays[(plays.event == 'Shot') | (plays.event == 'Missed Shot') | (plays.event == 'Blocked Shot') | (plays.event == 'Shot')]
shots.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
5,2011030221_6,2011030221,6,4.0,1.0,Blocked Shot,NaN,52.0,28.0,1,REGULAR,26,1174,2012-04-29 19:21:07,0,0,Max Talbot blocked shot from Patrik Elias,-52.0,-28.0,right
6,2011030221_7,2011030221,7,1.0,4.0,Shot,Wrist Shot,80.0,-3.0,1,REGULAR,30,1170,2012-04-29 19:21:12,0,0,Patrik Elias Wrist Shot saved by Ilya Bryzgalov,80.0,-3.0,left
11,2011030221_12,2011030221,12,1.0,4.0,Shot,Wrap-around,88.0,-4.0,1,REGULAR,139,1061,2012-04-29 19:23:29,0,0,Ryan Carter Wrap-around saved by Ilya Bryzgalov,88.0,-4.0,left
12,2011030221_13,2011030221,13,1.0,4.0,Shot,Wrist Shot,81.0,-27.0,1,REGULAR,154,1046,2012-04-29 19:23:44,0,0,Stephen Gionta Wrist Shot saved by Ilya Bryzgalov,81.0,-27.0,left
24,2011030221_25,2011030221,25,1.0,4.0,Shot,Snap Shot,63.0,-19.0,1,REGULAR,274,926,2012-04-29 19:28:00,1,0,Travis Zajac Snap Shot saved by Ilya Bryzgalov,63.0,-19.0,left

In [14]:
shots.shape

(1217675, 20)

In [21]:
shotsg= shots.groupby(shots['event'])

In [22]:
shotsg.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
5,2011030221_6,2011030221,6,4.0,1.0,Blocked Shot,NaN,52.0,28.0,1,REGULAR,26,1174,2012-04-29 19:21:07,0,0,Max Talbot blocked shot from Patrik Elias,-52.0,-28.0,right
6,2011030221_7,2011030221,7,1.0,4.0,Shot,Wrist Shot,80.0,-3.0,1,REGULAR,30,1170,2012-04-29 19:21:12,0,0,Patrik Elias Wrist Shot saved by Ilya Bryzgalov,80.0,-3.0,left
11,2011030221_12,2011030221,12,1.0,4.0,Shot,Wrap-around,88.0,-4.0,1,REGULAR,139,1061,2012-04-29 19:23:29,0,0,Ryan Carter Wrap-around saved by Ilya Bryzgalov,88.0,-4.0,left
12,2011030221_13,2011030221,13,1.0,4.0,Shot,Wrist Shot,81.0,-27.0,1,REGULAR,154,1046,2012-04-29 19:23:44,0,0,Stephen Gionta Wrist Shot saved by Ilya Bryzgalov,81.0,-27.0,left
24,2011030221_25,2011030221,25,1.0,4.0,Shot,Snap Shot,63.0,-19.0,1,REGULAR,274,926,2012-04-29 19:28:00,1,0,Travis Zajac Snap Shot saved by Ilya Bryzgalov,63.0,-19.0,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2778421,2010020066_16,2010020066,16,11.0,28.0,Missed Shot,NaN,-51.0,-14.0,1,REGULAR,152,1048,2010-10-17 02:46:04,0,0,Ron Hainsey - Wide of Net,51.0,14.0,right
2778425,2010020066_20,2010020066,20,11.0,28.0,Blocked Shot,NaN,56.0,10.0,1,REGULAR,224,976,2010-10-17 02:47:37,0,0,Alexander Burmistrov blocked shot from John Mc...,-56.0,-10.0,right
2778431,2010020066_26,2010020066,26,11.0,28.0,Shot,Wrist Shot,-59.0,-33.0,1,REGULAR,283,917,2010-10-17 02:48:35,0,0,Evander Kane Wrist Shot saved by Antti Niemi,59.0,33.0,right
2778437,2010020066_32,2010020066,32,11.0,28.0,Shot,Slap Shot,-58.0,23.0,1,REGULAR,358,842,2010-10-17 02:50:17,0,0,Anthony Stewart Slap Shot saved by Antti Niemi,58.0,-23.0,right
2778440,2010020066_35,2010020066,35,11.0,28.0,Missed Shot,NaN,-69.0,4.0,1,REGULAR,365,835,2010-10-17 02:50:46,0,0,Andrew Ladd - Wide of Net,69.0,-4.0,right

# Teams

In [15]:
teams.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link,game_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1,2011030221,away,False,OT,Peter DeBoer,3,26,31,12,3,1,44.9,6,7
1,1,23,New Jersey,Devils,NJD,/api/v1/teams/1,2011030222,away,True,REG,Peter DeBoer,4,35,32,12,4,0,50.9,8,7
2,1,23,New Jersey,Devils,NJD,/api/v1/teams/1,2011030223,home,True,OT,Peter DeBoer,4,31,30,10,2,1,49.2,11,4
3,1,23,New Jersey,Devils,NJD,/api/v1/teams/1,2011030224,home,True,REG,Peter DeBoer,4,43,19,4,5,1,37.5,5,3
4,1,23,New Jersey,Devils,NJD,/api/v1/teams/1,2011030225,away,True,REG,Peter DeBoer,3,30,26,2,4,1,55.0,6,5

In [16]:
teams.columns

Index(['team_id', 'franchiseId', 'shortName', 'teamName', 'abbreviation',
       'link', 'game_id', 'HoA', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways'],
      dtype='object')

In [17]:
teams.teamName.unique()

array(['Devils', 'Flyers', 'Kings', 'Lightning', 'Bruins', 'Rangers',
       'Penguins', 'Red Wings', 'Sharks', 'Predators', 'Canucks',
       'Blackhawks', 'Senators', 'Canadiens', 'Wild', 'Capitals', 'Blues',
       'Ducks', 'Coyotes', 'Islanders', 'Maple Leafs', 'Panthers',
       'Sabres', 'Flames', 'Avalanche', 'Stars', 'Blue Jackets', 'Jets',
       'Oilers', 'Golden Knights', 'Hurricanes', 'Thrashers'],
      dtype=object)

In [19]:
teams.shape

(22868, 20)